<!DOCTYPE html>
<html lang="en">

<head>
    <title>Shlok</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Book Service">

    <script defer src="{{ url_for('static', filename='js/fontawesome.min.js') }}"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}"

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='css/theme-7.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>


</head>


<body>

    <nav class="navbar navbar-expand-sm fixed-top navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('home') }}" style="font-family: 'Pacifico'; font-size: 30px;"><b>Book service</b></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar1">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('home') }}" style="font-size: 20px;">Blog</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('logout') }}" style="font-size: 20px;">Logout</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href='/edit/{{post.id}}' style="font-size: 20px;">Edit</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href='/delete/{{post.id}}' style="font-size: 20px;">Delete</a>
                    </li>
                    {% endif %}
                    
                </ul>
            </div>
        </div>
    </nav>


<div class="main-wrapper">

    <article class="blog-post px-3 py-5 p-md-5">
        <div class="container">

            <div class="blog-post-body">
            
                {{ post.content|safe }}
                
            </div>
        </div>
    </article>

</div>

<script src="{{ url_for('static', filename='plugins/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.min.js') }}"></script>

    </body>

</html>